/*COLORES*/
$color-primary: orange;
$color-seconday: #c22f00;
$otra-variable:black;

/*FUENTES*/
$font-family-global: arial;
$font-family-title: verdana;
$font-family-alternative: roboto;

/*TYPOGRAPHY*/
$font-size-base: 64.5%;
$font-size-body: 1.3rem;
$font-size-h1: 2.4rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.3rem;
$font-size-h6: 1.2rem;
