.button {
  width: 213px;
  padding: 11px 10px;
  color: #fff;
  background: grey;
  border: none;
  cursor: pointer;
}

.button-primary {
  background: red;
}

.button-secondary {
  background: #0b9685;
}
