/*GLOBALES*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #414141;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 0 0 30px;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.images figure {
  margin-right: 30px;
}

/*STICKY FOOTER*/
.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap .main {
  flex-grow: 1;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #9ecefa;
  color: #707070;
}

.header .logo {
  font-size: 3.2rem;
  font-weight: bold;
  color: #87119a;
}

.header ul {
  display: flex;
}

.header li {
  margin-left: 20px;
}

.header li a {
  font-weight: bold;
}

.header li a:hover {
  text-decoration: underline;
  color: #87119a;
}

/*MAIN*/
.main {
  padding: 30px;
}

.main > section {
  margin-bottom: 80px;
}

.main h2 {
  margin-bottom: 25px;
  color: #87119a;
  border-left: 8px solid #87119a;
  padding: 15px 0 15px 22px;
}

/*OUR*/
.our .images figure {
  margin-right: 25px;
}

/*SERVICES*/
.services .images {
  justify-content: center;
  margin-bottom: 54px;
}

.services .images figure {
  margin-right: 54px;
}

/*PORTFOLIO*/
.portfolio .images figure {
  margin-right: 40px;
  margin-bottom: 40px;
}

/*CONTACT*/
.contact .data {
  display: flex;
}

.contact .data-left {
  margin-right: 30px;
}

.contact .data-right {
  padding-top: 30px;
}

.contact .data-right li {
  margin-bottom: 38px;
  display: flex;
}

.contact .data-right b {
  font-weight: bold;
  margin-right: 10px;
}

.contact .data-right a {
  color: #87119a;
}

.contact .data-right a:hover {
  text-decoration: underline;
}

/*FOOTER*/
.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9ecefa;
  color: #fff;
}

.footer p {
  margin: 0;
}
