/*FOOTER*/
.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00af1c;
    color: #fff;
  }
  
  .footer p {
    margin: 0;
  }
  