/*PORTFOLIO*/
.portfolio h2 {
    color: #aad206;
  }
  
  .portfolio li:nth-child(1) {
    color: #ae8800;
  }
  
  .portfolio li:nth-child(2) {
    color: #ae280b;
  }
  
  .portfolio li:nth-child(3) {
    color: #060564;
  }
  
  .portfolio li:nth-child(4) {
    color: #637300;
  }