/*SERVICES*/
.services h2 {
    color: #d206b2;
  }
  
  .services li:nth-child(1) {
    color: #ff0000;
  }
  
  .services li:nth-child(2) {
    color: #1400ff;
  }
  
  .services li:nth-child(3) {
    color: #d79b00;
  }
  
  .services li:nth-child(4) {
    color: #03b2b2;
  }