/*----------------------------------------------------------------*/
//VARIABLES
/*----------------------------------------------------------------*/
/*
FONTS
*/
// size
$font-size-base: 62.5%;
$font-size-body: 1.4rem;

// familys
$font-family-global: "Raleway", sans-serif;
$font-family-title: "Poppins", sans-serif;

/*
COLORS
*/
$color-primary: #00cf95;
$color-secondary: #d1ffa2;
$color-third: #0098ef;
$color-complementary: #5a0cb0;
$color-text: #262626;
