@import "../../assets/style/variables";

.nav {
  background: map-get($colors-branding, "complementary");
  border-radius: 20px;

  > ul {
    display: flex;
    padding: 20px;

    > li {
      position: relative;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      > a,
      span {
        font-weight: bold;
        font-size: 1.6rem;

        &:hover,
        &.is-active {
          color: map-get($colors-branding, "primary");
        }
      }
    }
  }
}
