/*----------------------------------------------------------------
/*.nav*/
/*--------------------------------------------------------------*/
.nav {
    ul {
      display: flex;
      font-size: 2rem;
    }
  
    li {
      margin-left: 50px;
    }
  }
  