/*----------------------------------------------------------------
/*.nav*/
/*--------------------------------------------------------------*/
.nav {
  ul {
    display: flex;
    font-size: 2rem;
  }

  li {
    margin-left: 50px;
  }

  @include breakpoint(sm) {
    li {
      margin-left: 30px;
    }

    a {
      font-size: 1.4rem;
    }
  }
}
