/*----------------------------------------------------------------
/*.search*/
/*--------------------------------------------------------------*/
.search {
    display: flex;
    margin: 56px 0;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding-left: 24px;
  
    input,
    button {
      background: transparent;
      border: none;
    }
  
    input {
      padding: 20px;
      width: 100%;
  
      &:focus {
        outline: none;
      }
    }
  }
  